Source: nautilus-cert-handler
Section: utils
Priority: optional
Maintainer: David Amián <damian@emergya.com>
Uploaders: David Amián <damian@emergya.com>, Álvaro Pinel <apinel@emergya.com>
Build-Depends: debhelper (>= 8), cdbs (>=0.4.43), python-all-dev (>=2.3.5-11), quilt
Build-Depends-Indep: python-central (>=0.6), gettext, python-distutils-extra
Standards-Version: 3.8.3
Homepage: http://launchpad.net/nautilus-cert-handler
Vcs-Browser: http://bazaar.launchpad.net/~amialinux/nautilus-cert-handler/trunk/changes
Vcs-Bzr: http://bazaar.launchpad.net/~amialinux/nautilus-cert-handler/trunk
XS-Python-Version: current

Package: nautilus-cert-handler
Architecture: all
Depends: ${misc:Depends}, python, python-nautilus (>= 1.0), nautilus (>= 3.0.1), libnss3-tools
Description: Nautilus' extension for install certificates
 Nautilus' extension for install certificates.
 .
 This extension let the user install certificates easily from the 
 Nautilus window. The extension adds a contextual menu entry to 
 install the selected certificate.
