#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp

build-stamp: 
	dh_testdir

	#docbook-to-man debian/watermain.sgml > watermain.1
	xsltproc --nonet /usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl debian/manpage.es.xml
	mv watermain.8 watermain.es.8
	xsltproc --nonet /usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl debian/manpage.xml
	#cp watermain.py.8 watermain.py.en.8

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/watermain.
	install -m 444 watermain.svg $(CURDIR)/debian/watermain/usr/share/icons/watermain
	install -m 444 watermain.desktop $(CURDIR)/debian/watermain/usr/share/applications
	install -m 444 logo.png $(CURDIR)/debian/watermain/usr/share/watermain
	install -m 444 watermain.list $(CURDIR)/debian/watermain/etc/apt
	install -m 444 watermain.glade $(CURDIR)/debian/watermain/usr/share/watermain
	install -m 544 watermain $(CURDIR)/debian/watermain/usr/sbin

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
