[Desktop Entry]
Encoding=UTF-8
Name=Boot Menu Editor (Grubaker2)
Name[es]=Editor del Menu de Arranque (Grubaker2)
Comment=Change boot options easily 
Comment[es]=Cambia las opciones de arranque facilmente
Exec=gksudo /usr/bin/grubaker2
Icon=/usr/share/icons/grubaker2.png
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
