[Desktop Entry]
Name=CD/DVD Creator
Comment=Create CDs and DVDs
Categories=GNOME;GTK;Utility;
TryExec=nautilus
Exec=nautilus --no-default-window --no-desktop burn:/// 
Icon=system-file-manager
MimeType=x-content/blank-cd;x-content/blank-dvd;x-content/blank-bd;x-content/blank-hddvd;
StartupNotify=true
Terminal=false
Type=Application
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=brasero
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.30.0
X-Ubuntu-Gettext-Domain=brasero
X-GNOME-FullName[es]=Grabación de CD/DVD (nautilus)
NoDisplay=true
