[Desktop Entry]
Name=BlackLists
Name[cs]=Černé listiny
Name[de]=Negativlisten (Blacklists)
Name[es]=Gestión de listas negras
Name[fr]=Listes noires
Name[gl]=Listas negras
Name[it]=Blacklist
Name[pl]=Czarne listy
Name[sl]=Črni seznami
Comment=Nanny parental control blacklists manager
Comment[cs]=Správa černých listin pro rodičovskou kontrolu Nanny
Comment[de]=Negativlistenverwaltung der Nanny-Elternkontrolle
Comment[es]=Gestor de listas negras del control parental Nanny
Comment[fr]=Gestionnaire de listes noires de contrôle parental Nanny
Comment[gl]=Xestor de lista negras de control parental do Nanny
Comment[it]=Gestisce le blacklist per il controllo familiare Nanny
Comment[pl]=Menedżer czarnych list kontroli rodzicielskiej Nanny
Comment[sl]=Upravljalnik črnih seznamov starševskega nadzora Nanny
Exec=nanny-blacklist-manager
Icon=nanny
Terminal=false
Type=Application
Categories=Core;Nanny;
StartupNotify=true
