[Desktop Entry]
Name=Parental Control
Name[cs]=Rodičovská kontrola
Name[de]=Elternkontrolle
Name[es]=Administración
Name[fr]=Contrôle parental
Name[gl]=Control parental
Name[it]=Controllo familiare
Name[pl]=Kontrola rodzicielska
Name[sl]=Starševski nadzor
Comment=Nanny parental control admin console
Comment[cs]=Správcovská konzola rodičovské kontroly Nanny
Comment[de]=Verwaltungskonsole der Nanny-Elternkontrolle
Comment[es]=Consola de administración de Nanny
Comment[fr]=Console d'administration de contrôle parental Nanny
Comment[gl]=Consola de administración do control parental do Nanny
Comment[it]=Gestisce il controllo familiare Nanny
Comment[pl]=Konsola administracyjna kontroli rodzicielskiej Nanny
Comment[sl]=Skrbniška konzola starševskega nadzora Nanny
Exec=nanny-admin-console
Icon=nanny
Terminal=false
Type=Application
Categories=Core;Nanny;
StartupNotify=true
