[Desktop Entry]
Name=Simple Scan
Comment=Scan Documents
Exec=simple-scan
Icon=scanner
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;Scanning;
X-GNOME-Gettext-Domain=simple-scan
X-GNOME-FullName[es]=Programa de escaneo de imágenes (Simple Scan)
Comment[es]=Programa para trabajar con escaners
