[Desktop Entry]
Name=Escaneo de imágenes (simple-scan)
Comment=Scan Documents
Exec=simple-scan
Icon=scanner
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;Scanning;
X-GNOME-Gettext-Domain=simple-scan
X-GNOME-FullName[es]=Escaneo de imágenes (simple-scan)
Comment[es]=Programa para trabajar con escaners
