[Desktop Entry]
Encoding=UTF-8
Name=Sun Java 6 Policy Tool
Comment=Sun Java 6 Policy Tool
Exec=/usr/lib/jvm/java-6-sun-1.6.0.13/bin/policytool
Terminal=false
Type=Application
Icon=sun-java6
Categories=Settings;
NoDisplay=true
Name[es]=Sun Java 6 (Herramienta de políticas)
Comment[es]=Herramienta para configurar las políticas de Sun Java 6
