#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Startup Disk Creator
GenericName=Startup Disk Creator
Comment=Create a startup disk using a CD or disc image
Exec=usb-creator-gtk
Icon=guada-ubiquity
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;Settings;GTK;HardwareSettings;
X-Ubuntu-Gettext-Domain=usbcreator
