Source: grubaker2
Section: admin
Priority: optional
XSBC-Original-Maintainer: Alfonso de Cala <alfonso.cala@juntadeandalucia.es>
Maintainer: Junta de Andalucía <packmaster@guadalinex.org>
Uploaders: Roberto C. Morano <rcmorano@emergya.es>, Álvaro Pinel <apinel@emergya.com>
Build-Depends: debhelper (>= 7), cdbs, gettext, python-distutils-extra, python-central
Standards-Version: 3.8.3
Homepage: http://launchpad.net/grubaker2
Vcs-Browser: http://codebrowse.launchpad.net/~guadalinex-members/grubaker2/trunk/changes
Vcs-Bzr: http://bazaar.launchpad.net/~guadalinex-members/grubaker2/trunk
XS-Python-Version: current

Package: grubaker2
Architecture: any
Depends: python2.7, python-gtk2
Description: Graphical tool to customize grub2
 Useful GUI to customize some Grub2 aspects in a graphical way.
