Source: simplemag
Section: utils
Priority: optional
Maintainer: Guadalinex Team <packmaster@guadalinex.org>
Uploaders: David Amián <amialinux@gmail.com>
Build-Depends: debhelper (>= 7), python-distutils-extra
Standards-Version: 3.8.4
Homepage: http://launchpad.net/simplemag
Vcs-Browser:https://code.launchpad.net/~guadalinex-members/simplemag/trunk
Vcs-Bzr:http://bazaar.launchpad.net/~guadalinex-members/simplemag/trunk/changes
XS-Python-Version: current

Package: simplemag
Architecture: any
Depends: python, python-gtk2
Description: It's a simple magnifier made in python
 It's a simple magnifier made in python.


