Source: gnome-shell-extension-power-altTab
Section: utils
Priority: optional
Maintainer: Guadalinex Team <packmaster@guadalinex.org>
Uploaders: Roberto C. Morano <rcmorano@emergya.com>, Álvaro Pinel <apinel@emergya.com>
Build-Depends: cdbs (>= 0.4.90), debhelper (>= 7), quilt (>=0.48)
Standards-Version: 3.9.2
Homepage: https://github.com/emerinohdz/PowerAltTab

Package: gnome-shell-extension-power-altTab
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gnome-shell
Description: gnome-shell extension that provides old alt-tab behaviour.
 gnome-shell extension that provides a GNOME2-like alt-tab behaviour.
