[Desktop Entry]
Encoding=UTF-8
Exec=/usr/share/guadalinex-first-start/guadalinex-first-start
Name=Gives info to the user about new software
Name[es]=Muestra al usuario la posibilidad de instalar nuevo software
Comment=Information about new software
Comment[es]=Aviso de instalación de software
Terminal=false
OnlyShowIn=GNOME;
Type=Application
