[Desktop Entry]
Encoding=UTF-8
Name=Download sites
Name[en_CA]=Download sites
Name[en_GB]=Download sites
Name[es]=Sitios de descarga (Watermain)
Comment=Download site selector
Comment[en_CA]=Download site selector
Comment[en_GB]=Download site selector
Comment[es]=Seleccionador de sitios de descarga de programas
Exec=gksudo '/usr/sbin/watermain -u http://www.guadalinex.org/distro/V8/mirrors.list'
Terminal=false
Type=Application
Icon=/usr/share/icons/watermain/watermain.svg
StartupNotify=true
Categories=GNOME;Application;System;Settings;

