Source: gnome-shell-extension-move-clock
Section: utils
Priority: optional
Maintainer: Guadalinex Team <packmaster@guadalinex.org>
Uploaders: Roberto C. Morano <rcmorano@emergya.com>, Álvaro Pinel <apinel@emergya.com>
Build-Depends: cdbs (>= 0.4.90), debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: http://intgat.tigress.co.uk/rmy/extensions/index.html

Package: gnome-shell-extension-move-clock
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gnome-shell
Description: gnome-shell extension that relocates system clock.
 gnome-shell extension that moves the date widget in order to make the desktop
 look like more as the GNOME2 one.
